{
  "handles": [
    "jiangly",
    "tourist"
  ],
  "channels": [
    12345
  ],
  "groups": [
    12345
  ],
  "admins": [
    12345
  ],
  "mysql_host": "localhost",
  "mysql_port": 3306,
  "mysql_username": "root",
  "mysql_password": "root",
  "mysql_dbname": "cf_wingman"
}
